.MyModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0,0,0,0.5);
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyModalContent {
    padding: 25px;
    background: #151416;
    border: 2px solid #f0e5d7;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
